{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="gradient__bg">
    <div class="container mt-4">
        <h1>Contact Us</h1>
        <p>If you have any questions or need further information, please email us at: <a
                href="mailto:info@example.com">mab.buffs.2024@gmail.com</a></p>

        <!-- Troubleshooting Tips Section -->
        <h2>Troubleshooting Tips</h2>
        <ul>
            <li>Ensure your internet connection is stable.</li>
            <li>Make sure that you allow permissions to the camera for this to function properly.</li>
            <li>If issues persist, please restart your web browser.</li>
            <li>If issues persist, please confer to our user manual. </li>
            <li>If you receive an error message, note down the error code or message and mention it in your email.</li>
        </ul>
    </div>
</div>
{% endblock %}